{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">
            {% for article in pagination %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>

                        <a href="{{ path('article_view', {'id': article.id}) }}">
                            <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="no pic" width="400" height="200">
                        </a>

                        <p>
                            {{ article.summary }}
                        </p>

                        <p>Views: {{ article.viewCount }}</p>

                        <small class="author">
                            {{ article.author.fullName }}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('article_view', {'id': article.id}) }}">Read more &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
