{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Categories:</span>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav categories_navigation">
                    {% if categoryChoice == 'ALL' %}
                        <li class="checked">
                            <a href="{{ path("allArticles") }}">ALL</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path("allArticles") }}">ALL</a>
                        </li>
                    {% endif %}

                    {% for category in categories %}
                        {% if categoryChoice == category.name %}
                            <li class="checked">
                                <a href="{{ category.name }}">{{ category.name }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ category.name }}">{{ category.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="article-body">
            <img src="{{ asset('uploads/images/static/loader.gif') }}" alt="no pic" class="loader">

            <div class="main">
                {% for article in articlesPerPage %}
                    <article>
                        <div class="row">
                            <div class="leftPart">
                                <a href="{{ path('article_view', {'id': article.id}) }}">
                                    <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" alt="no pic">
                                </a>
                            </div>

                            <div class="col-md-8">
                                <header>
                                    <h2>{{ article.title }}</h2>
                                </header>

                                <p>
                                    {{ article.summary }}
                                </p>

                                <p>Views: {{ article.viewCount }}</p>

                                <small class="author">
                                    {{ article.author.fullName }}
                                </small>

                                <footer>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-xs"
                                           href="{{ path('article_view', {'id': article.id}) }}">Read more &raquo;
                                        </a>

                                        <a class="btn btn-success btn-xs add_to_favourites"
                                           href="{{ path('add_to_favourites', {'articleId': article.id}) }}">Add article to favourites. :)
                                        </a>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </article>
                {% endfor %}

                <div class="pagination">
                    {% for page in 1..pages %}
                        <a href="{{ path('blog_index') }}?page={{ page }}&categoryChoice={{ categoryChoice }}">{{ page }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
