{% block main %}
    <?php sleep(5) ?>

    <div class="main">
        {% if articlesPerPage|length == 0 %}
            <p>No articles for that category</p>
        {% else %}
            {% for article in articlesPerPage %}
                <article>
                    <div class="row">
                        <div class="col-md-4 leftPart">
                            <a href="{{ path('article_view', {'id': article.id}) }}">
                                <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" alt="no pic">
                            </a>
                        </div>

                        <div class="col-md-8">
                            <header>
                                <h2>{{ article.title }}</h2>
                            </header>

                            <p>
                                {{ article.summary }}
                            </p>

                            <p>Views: {{ article.viewCount }}</p>

                            <small class="author">
                                {{ article.author.fullName }}
                            </small>

                            <footer>
                                <div class="pull-right">
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('article_view', {'id': article.id}) }}">Read more &raquo;</a>
                                </div>
                            </footer>
                        </div>
                    </div>
                </article>
            {% endfor %}

            <div class="pagination">
                {% for page in 1..pages %}
                    <a href="{{ path('blog_index') }}?page={{ page }}&categoryChoice={{ categoryChoice }}">{{ page }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}