{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <small class="author">
                        {{ article.author.fullName }}
                    </small>

                    <div>
                        <a class="btn btn-success btn-xs" href="{{ path('article_likes', {'id': article.id}) }}">
                            Like the article if you want. :)
                        </a>

                        <a class="btn btn-success btn-xs" href="{{ path('article_comment', {'id': article.id}) }}">
                            Add your comment. :)
                        </a>
                    </div>

                    {% if comments|length > 0 %}
                        <div class="comments">
                            {% for comment in comments %}
                                <div class="top_part">
                                    <img src="{{ asset('uploads/images/users/' ~ comment.author.image) }}" alt="no pic">
                                    <div class="user_info">
                                        <p>{{ comment.author.fullName }}</p>
                                        <p>{{ comment.author.email }}</p>
                                    </div>
                                </div>
                                <div class="bottom_part">
                                    <p>{{ comment.dateAdded|date('F jS \\a\\t g:ia', 'Europe/Sofia') }}</p>
                                    <p>{{ comment.content }}</p>
                                </div>
                                <hr />
                            {% endfor %}
                        </div>
                    {% endif %}

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and app.getUser().isAdmin() %}
                            <a class="btn btn-success btn-xs" href="{{ path('article_edit', {'id': article.id}) }}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id': article.id}) }}">Delete &raquo;</a>
                            {% endif %}

                            <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">Back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>

{% endblock %}

